version: "3.8"

services:
  blockchain:
    image: ethereumoptimism/hardhat-node
    ports:
      - "8545:8545"

  deployer:
    build: .
    depends_on:
      - blockchain
    environment:
      - HARDHAT_NETWORK=localhost
